* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: black;
  font-family: "Roboto Mono";
  letter-spacing: 0;
}

br {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#landing-container {
  background-color: #f0242400;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  margin: 0 0;
}

#landing-item-title {
  text-align: center;
}

#landing-item-subtitle {
  top: 20px;
  text-align: center;
}

a.underline {
  text-decoration: underline;
}

a:hover {
  color: blue;
  text-decoration: none;
}

::selection {
  color: black;
  background: blue;
}

#landing-item-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

#landing-item-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.vertical {
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
}

p,
a {
  margin: 0;
  padding: 0;
  color: black;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
}

h1 {
  font-family: Lato, sans-serif;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 1.1;
}

hr {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border: 0;
  border-top: white 1px solid;
  max-width: 50%;
}

i.contact-icon {
  font-size: 1.4rem;
  width: 30px;
}

i.profile-icon {
  font-size: 1.4rem;
  width: 30px;
  color: white;
}

#bg-vid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#bg-vid-abt {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
  transform: translate(0, 30%);
}

/* ABOUT SECTION *******************************/

.text-abt {
  letter-spacing: 2px;
  color: white;
  font-weight: normal;
  line-height: 1.6;
}

.modal-body {
  margin: 13px;
  padding: 30px;
}

.modal-dialog {
  width: 100%;
  max-width: 800px;
  min-width: 200px;
  padding: 20px;
}

.modal-backdrop {
  background-color: white;
}

.modal-content {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 15px;
}

.rounded-more {
  border: 0;
  border-radius: 10px;
}

.sub-modal {
  max-width: 600px;
  z-index: 99996;
  overflow-y: scroll;
}

.proj-modal {
  max-width: 900px;
  z-index: 99996;
  overflow-y: scroll;
}

.bg-col {
  background-color: blue;
}

.profile-pic-wrap {
  margin: 30px auto;
  width: 300px;
  height: 400px;
  overflow: hidden;
  text-align: center;
  object-fit: cover;
}

.profile-pic {
  mix-blend-mode: difference;
  height: 100%;
  margin: 0 -100%;
  clip-path: inset(5px);
}

/* RESEARCH SECTION *******************************/

.bg-transition {
  transition-property: background;
  transition-duration: 0.3s;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.bg-flow {
  background-image: url("https://drive.google.com/uc?export=view&id=1DrXEjBMUiLZhP1gli9vseQEvtpFa-BfZ");
}

/* CURSOR SECTION *******************************/

* {
  cursor: none;
}

#cursor {
  position: absolute;
  box-sizing: border-box;
  transition: 0.1s;
  transform: translate(-50%, -50%);
  background: white;

  pointer-events: none;
  z-index: 99998;
  mix-blend-mode: difference;

  transition-property: width, height, border-radius, border;
  transition-duration: 0.3s;
}

.square {
  width: 40px;
  height: 40px;
}

.circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.bigger {
  width: 80px;
  height: 80px;
}

html {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

/* ANIMATION SECTION *******************************/
.fade-in {
  opacity: 1 !important;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.6s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.open-side {
  opacity: 1 !important;
  animation-name: openSide;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

@keyframes openSide {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* CAROUSEL SECTION *******************************/

.carousel {
  width: 100%;
  mix-blend-mode: difference;
}

div.center-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.carousel-cell {
  width: 60%;
  height: 400px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  overflow-y: scroll;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s,
    -webkit-filter 0.3s, filter 0.3s;
  transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */

.carousel-cell.is-selected img {
  mix-blend-mode: normal;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: none;
  filter: none;
}

/* remove dots */
.flickity-page-dots {
  display: none;
}

/* buttons, no circle */
.flickity-prev-next-button {
  display: none;
}

.bg-black {
  background-color: black;
}
