.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-family: Lato, sans-serif;
  letter-spacing: normal;
  margin: 234px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: "Roboto Mono";
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 1rem;
  text-transform: none;
  margin: 55px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-decoration: underline !important;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-line-1 {
  width: 150px;
  height: 5px;
  transform-origin: right center 0px;
  margin: 54px 0 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-family: "Roboto Mono";
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -16px auto 60px 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-3 {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-1 .u-btn-3 {
    margin-bottom: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 195px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 215px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -177px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-text-1 {
    margin-top: 126px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 58px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -48px;
  }
}